- name: Only update package cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  tags: always

- name: Install basic tools
  apt:
    name:
      - curl
      - wget
      - git
      - vim
      - ca-certificates
      - gnupg
      - lsb-release
    state: present
  tags: packages
