- name: restart journald
  systemd:
    name: systemd-journald
    state: restarted

- name: restart docker
  systemd:
    name: docker
    state: restarted

- name: reload systemd
  systemd:
    daemon_reload: yes
